{% extends 'books/base.html' %}

{% block content %}
<h1>{{title}}</h1>
    {% if sale %}
        <h1>Скидка на все</h1>
    {% endif %}
    {% for book in books %}
        <div>
            <h2>{{book.book_name}}</h2>
            <p>
                {{book.description}}
            </p>
            <p>
                {{book.date_creation}}
            </p>
            <h3>Информация о редакции</h3>
            <p>
                {{book.id_publishing_house__publishing_house_name}}
            </p>
            <p>
                {{book.id_publishing_house__address}}
            </p>
            <p>
                {{book.id_publishing_house__contact_phone}}
            </p>
            <h3>Информация об авторе</h3>
            <p>
                {{book.author__first_name}} {{book.author__last_name}}
            </p>
            <p>
                {{book.author__country}}
            </p>
            <hr />
        </div>
    {% endfor %}
{% endblock content %}